#header {
  background-color: #e47724;
  color: #fff;
  border-radius: 0px 0px 0px 50px; }

#header a {
  color: #fff; }

.calcButton, .save-btn {
  color: #e47724;
  border-color: #e47724; }

a.nav-link.active {
  font-weight: 600; }
