$brandColour: #e47724;

#header{
    background-color: $brandColour;
    color: #fff;
    border-radius: 0px 0px 0px 50px;
}

#header a{
    color: #fff;
}

.calcButton, .save-btn{
    color:$brandColour;
    border-color: $brandColour;
}

a.nav-link.active{
    font-weight:600;
}