body{
font-family: 'Roboto', sans-serif!important;
width:100%!important;
margin: unset!important;
background-color: #f2ae72!important;
}

*{
font-family: 'Roboto', sans-serif;
}

h1{
text-align:center;
font-size: 3rem;
}

.container{
margin:auto;
border: 1px solid #FF7B24;
padding: 2%;
background: #f2ae72;
}

.flex-display{
display:flex;
}

.logo{
text-align:center;
}

.logo img {
width: 25%;
margin:auto;
}

.text-header{
font-size: 2rem;
width: 75%;
margin-bottom: 1%;
color: #fff;
}

#ebayPrice::placeholder, #CMPrice::placeholder, #custExcha::placeholder{
color:#eee;
}


.margin-top{margin-top:1%;}

#ebayOutput, #CMOutput{
text-align: center;
width: 20%;
/*margin: auto;*/
color:#fff;
font-weight: 600;
}

#ebayPrice, #CMPrice, #custExcha{
margin-bottom: 5%;
padding: 1%;
height: 25px;
width: 96%;
border-top: 0;
border-left: 0;
border-right: 0;
border-color: #000;
border-radius: 6px;
background-color: #ff7b24;
color: #fff;
opacity: 0.5;
font-size:2rem;
}

.button-container{
text-align:center;
}

button {
background-color: #f8944b;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 8px;
}

.box-styling{
background-color: #f2ae72;
border-radius: 5px;
padding: 3%;
border: 1px solid #fff;
height: 2rem;
margin: 4% 0;
}

.out-put-area {
    font-size: 2rem;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f2ae72;
    border-radius: 5px;
    padding: 3%;
    border: 1px solid #fff;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.logo img {
  width: 60%;
  }

}
